:root {
  --space-small: 10px;
  --space-medium: 20px;
  --space-large: 30px;

  --space-xlarge: 100px;
  --space-xxlarge: 200px;
  --space-xxxlarge: 300px;
  --space-xxxxlarge: 400px;

  --color-text: rgb(133, 85, 23);
  --color-background-wood: burlywood;
  --color-background-black: rgba(0, 0, 0, 0.782);
}
body {
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* {
  margin: 0;
  padding: 0;
}
.col-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col > * {
  margin: calc(var(--space-small) / 3) 0;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
