.player-pokemon {
  position: absolute;
  bottom: calc(-1 * var(--space-medium));
  left: var(--space-small);
}

.enemy-pokemon {
  position: absolute;
  bottom: var(--space-xxlarge);
  right: var(--space-xxlarge);
}

.player-pokemon img {
  width: var(--space-xxxlarge);
  height: var(--space-xxxlarge);
}
.enemy-pokemon img {
  width: var(--space-xxlarge);
  height: var(--space-xxlarge);
}
.buttons-group {
  margin-top: var(--space-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-black);
  padding: var(--space-small);
}
.buttons-group div {
  margin: 0 var(--space-small);
  cursor: pointer;
}

.battle-timer {
  position: absolute;
}
.my-turn {
  position: absolute;
  top: 45px;
  left: 20px;
}

.enemy-turn {
  position: absolute;
  top: 45px;
  left: calc(var(--canvas-width) - 280px);
}
.attack-animation {
  position: absolute;
  opacity: 0.7;
}

.special-defense {
  position: absolute;
  top: 0;
  left: 0;
}

.battle-result {
  background-image: url("../assets/images/battleResult.png");
  background-color: var(--color-background-wood);
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--space-xxlarge) + 10px);
  height: var(--space-xxlarge);

  color: var(--color-text);
}

.battle-result h3 {
  text-align: center;
}
.battle-result img {
  width: var(--space-medium);
  height: var(--space-medium);
}

.battle-result .result {
  margin-top: var(--space-medium);
}
.battle-result .btn {
  text-align: center;
  margin: var(--space-medium) auto;
}
