.btn {
  padding: 5px 10px;
  outline: none;
  border: 3px solid rgb(142, 103, 52);
  color: rgb(161, 117, 59);
  background-color: transparent;
  border-radius: 3px;
  transition: transform 200ms;
}

.close-btn {
  width: 25px;
  height: 25px;

  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 3px solid rgb(164, 113, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: small;
  cursor: pointer;
  color: rgb(139, 80, 35);
  background-color: burlywood;
}

.btn:active {
  transform: scale(0.95);
}

.btn.leave-btn,
.btn.catch-btn {
  color: rgb(186, 88, 78);
  background-color: transparent;
  border: 4px solid rgb(182, 84, 73);
  font-weight: bolder;
}
