.btn {
  padding: calc(var(--space-small) / 2) var(--space-small);
  outline: none;
  border: calc(var(--space-small) / 4) solid var(--color-text);
  color: var(--color-text);
  background-color: transparent;
  border-radius: calc(var(--space-small) / 4);
  transition: transform 200ms;
}
.btn.btn-small {
  font-size: small;
  padding: calc(var(--space-small) / 4);
}
.close-btn {
  width: var(--space-medium);
  height: var(--space-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(var(--space-small) / 4);
  position: absolute;
  right: var(--space-small);
  top: var(--space-small);
  border: 3px solid var(--color-text);
  font-family: sans-serif;
  font-size: small;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-background-wood);
}

.btn:active {
  transform: scale(0.98);
}
button:disabled {
  border: calc(var(--space-small) / 4) solid gray;
  color: gray;
}
