button,
.btn {
  font-family: "Pokemon";
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Header";
  font-size: 1.2rem !important;
}

div,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: "Pokemon";
  src: local("Pokemon"), url("../assets/fonts/Pokemon.ttf");
}
@font-face {
  font-family: "Header";
  src: local("Pokemon"), url("../assets/fonts/Header.ttf");
}
@font-face {
  font-family: "P";
  src: local("Pokemon"), url("../assets/fonts/Pixel.ttf");
}
