:root {
  --modal-width: calc(var(--canvas-width) - 800px);
  --modal-height: calc(var(--canvas-height) - 200px);
  --modal-inner-width: 270px;
  --modal-inner-height: 300px;
}

.modal {
  position: absolute;
  text-align: left;
  width: var(--modal-width);
  height: var(--modal-height);
  left: 50%;
  top: 55%;
  color: var(--color-text);
  transform: translate(-50%, -50%);
  background-image: url("../assets/images/ModalBackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: calc(var(--space-small) / 4);
  padding: var(--space-small);
}
.modal h3,
.modal p {
  margin-bottom: var(--space-medium);
}
.modal .right-page {
  width: var(--modal-inner-width);
  height: var(--modal-inner-height);
  position: absolute;
  top: 45px;
  left: calc(var(--modal-width) - var(--modal-inner-width) - 35px);
}
.modal .inventory img {
  width: var(--space-medium);
  height: var(--space-medium);
}

.modal .inventory {
  margin-bottom: var(--space-large);
}
.modal .left-page {
  width: var(--modal-inner-width);
  height: var(--modal-inner-height);
  position: absolute;
  top: 45px;
  left: 35px;
}

.modal .buttons-div {
  margin-top: var(--space-large);
}

.modal .level-info {
  position: absolute;
  left: 10px;
  top: 50px;
}

.modal .pokemon-image img {
  transform: translateX(70px);
  width: 110px;
  height: 110px;
}
