.modal {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 500px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/images/ModalBackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 10px;
}
.modal .stats {
  position: absolute;
  top: 200px;
  left: 50px;
  width: 36%;
  color: rgb(162, 104, 27);
}
.modal .current-stats {
  position: absolute;
  top: 70px;
  left: 80px;
}
.modal .modal-body .avatar img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: -120px;
  top: 50px;
}
.modal .modal-body .avatar {
  position: absolute;
  top: 15px;
  left: 230px;
  font-weight: bold;
  color: rgb(165, 122, 66);
}
.modal .modal-body {
  width: 75%;
}

.modal .modal-body .powers,
.modal .modal-body .current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}
.modal .modal-body .current {
  width: 350px;
}
.modal .modal-header {
  text-align: left;
  width: 100%;
  position: absolute;
  font-size: 1rem;
  top: 15px;
  left: 50px;
  color: rgb(154, 112, 58);
  font-weight: bolder;
}
.modal .modal-footer {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 170px;
  left: 55px;
}
.modal .resources {
  position: absolute;
  top: 30px;
  left: 420px;
  width: 32%;
  justify-content: space-between;
  align-items: center;
  color: rgb(132, 101, 59);
}
.modal .resources h3 {
  margin-bottom: 16px;
}
.hp img,
.mona img {
  width: 25px;
  height: 25px;
}

.xp,
.hp,
.mona {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-description {
  width: 35%;
  color: rgb(138, 100, 50);
  position: absolute;
  right: 55px;
  bottom: 250px;
}
.modal-description h3 {
  margin-bottom: 16px;
}
