.notification {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 400px;
  height: 50px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  padding: 10px 20px;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  z-index: 300;
}

.notification img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.notification span {
  position: absolute;
  bottom: 150px;
  right: 150px;
  background-color: burlywood;
  padding: 20px;
  border-radius: 50px;
  border-bottom-right-radius: 0;
}
