.pokemon-btn {
  position: absolute;
  left: 10px;
  bottom: 15px;
  width: 100px;
}

.pokemons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background-color: var(--color-background-wood);
  display: none;
  overflow-x: scroll;
  padding: 10px 16px;
}

.pokemons .card {
  background-color: var(--color-background-wood);
  padding: calc(var(--space-small) / 2);
  margin: calc(var(--space-small) / 4);
  border-radius: calc(var(--space-small) / 4);
  border: 1px solid var(--color-text);
  position: relative;
}
.card .btn {
  margin-top: var(--space-small);
}
.pokemons .card.selected {
  border: 3px double salmon;
}
.pokemons .card img {
  min-width: 96px;
  min-height: 96px;
}
.pokemons .card .card-image {
  position: relative;
  height: 96px;
  width: 96px;
}

.pokemons-list-mask {
  -webkit-mask-image: url("../assets/images/scroll.png");
  mask-image: url("../assets/images/scroll.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.pokemons .card * {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
