.pokemon-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7%;
}

.pokemons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 200px;
  background-color: burlywood;
  display: none;
  overflow-x: scroll;
  padding: 10px 16px;
}

.pokemons .card {
  background-color: salmon;
  padding: 6px 12px;
  margin: 5px 5px;
  border-radius: 16px;
  border: salmon;
  position: relative;
}
.pokemons .card img {
  min-width: 96px;
  min-height: 96px;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.pokemons .card .card-image {
  position: relative;
  height: 96px;
  width: 96px;
}
.pokemons .card .stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pokemons .card .stats div {
  margin: 1px 0;
  display: flex;
  justify-content: space-between;
  font-size: xx-small;
}
.pokemons-list-mask {
  -webkit-mask-image: url("../assets/images/scroll.png");
  mask-image: url("../assets/images/scroll.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
