.scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

#battle-scene {
  background-image: url("../assets/images/battleBackground.png");
}
#catch-scene {
  background-image: url("../assets/images/CatchBackground.png");
}
