.throw-ball {
  width: 300px;
  height: 512px;
  position: absolute;
  bottom: -4px;
  left: 1px;
  background-image: url("../assets//images/ThrowSpriteSheet.png");
}
.throw-ball-active {
  animation: throw 0.8s steps(3) infinite;
}
@keyframes throw {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1024px 0;
  }
  0% {
    background-position: 0 0;
  }
}
